{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
	<div class="row">
		<div class="col">
			<hr>
			<h2 class="logo-font mb-4">Thank You</h2>
			<hr>
			<p class="text-black">Your order information is below. A confirmation email will be sent to
				<strong>{{ order.email }}</strong>.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-lg-7">
			<div class="order-confirmation-wrapper p-2 border">
				<div class="row">
					<div class="col">
						<small class="text-muted">Order Info:</small>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">Order Number</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.order_number }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">Order Date</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.date }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<small class="text-muted">Order Details:</small>
					</div>
				</div>

				{% for item in order.lineitems.all %}
				<div class="row">
					<div class="col-12 col-md-4">
						<p style="font-size:20px" class=" mb-0 text-black font-weight-bold">
							{{ item.product.name }}
						</p>
                        <div class="input-group">
                            
                            <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1-{{item.product.id}}" style="font-size:20px;cursor:pointer;"  class="fa fa-star"></span>
                            <span onmouseover="starmark(this)" onclick="starmark(this)" id="2-{{item.product.id}}"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                            <span onmouseover="starmark(this)" onclick="starmark(this)" id="3-{{item.product.id}}"  style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                            <span onmouseover="starmark(this)" onclick="starmark(this)" id="4-{{item.product.id}}"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                            <span onmouseover="starmark(this)" onclick="starmark(this)" id="5-{{item.product.id}}"  style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                            
                            <input id="review-{{item.product.id}}" style="height:30px;width:500px;margin-top:10px;" placeholder="Add a review..." class="form-control">
                            <input id="count-{{item.product.id}}" value="0" hidden>
                            <span style="margin-top:10px;margin-bottom:10px;" class="input-group-btn">
                                <button onclick= "resultsOnClick('{{item.product.id}}')" class = "btn btn-primary">Submit</button>
                            </span>
                        </div>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p style="font-size:20px" class=" mb-0">{{ item.quantity }} @ ${{ item.product.price }} each</p>
					</div>
				</div>
				{% endfor %}

				<div class="row">
					<div class="col">
						<small class="text-muted">Delivering To:</small>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">Full Name</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.full_name }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">Address 1</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.street_address1 }}</p>
					</div>
				</div>

				{% if order.street_address2 %}
				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">Address 2</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.street_address2 }}</p>
					</div>
				</div>
				{% endif %}

				{% if order.county %}
				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">County</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.county }}</p>
					</div>
				</div>
				{% endif %}

				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">Town or City</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.town_or_city }}</p>
					</div>
				</div>

				{% if order.postcode %}
				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">Postal Code</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.postcode }}</p>
					</div>
				</div>
				{% endif %}

				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">Country</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.country }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">Phone Number</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.phone_number }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<small class="text-muted">Billing Info:</small>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">Order Total</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.order_total }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">Delivery</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.delivery_cost }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4">
						<p class="mb-0 text-black font-weight-bold">Grand Total</p>
					</div>
					<div class="col-12 col-md-8 text-md-right">
						<p class="mb-0">{{ order.grand_total }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if from_profile %}
	<a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
		<span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
		<span class="text-uppercase">Back to Profile</span>
	</a>
	{% else %}
	<!--check if I need it, change link to send to Products home page-->
	<div class="row">
		<div class="col-12 col-lg-7 text-right">
			<a href="{% url 'products' %}" class="btn btn-black rounded-0 my-2">
				<span class="icon mr-2">
						<i class="fas fa-gifts"></i>
					</span>
				<span class="text-uppercase">Shop some more!</span>
			</a>
		</div>
	</div>
	<!--end of checking if i need it-->
    {%endif%}
</div>


<script>
var count;

function starmark(item)
{
    count=item.id[0];
    sessionStorage.starRating = count;
    var subid= item.id.substring(1);
    document.getElementById("count-"+subid.substring(1)).value = count;
    for(var i=0;i<5;i++)
    {
        if(i<count)
        {
            document.getElementById((i+1)+subid).style.color="orange";
        }
        else
        {
            document.getElementById((i+1)+subid).style.color="black";
        }
    }
}

function resultsOnClick(productid){
    var rating = document.getElementById("count-"+productid).value;
    console.log(rating);
    var review = document.getElementById("review-"+productid).value;
    console.log(review);
    console.log(productid);

    if(rating == "0" && review ==""){
        alert("Please enter rating and/or review to submit!!!");
    }   
    else{
        $.ajax({
                url: "/checkout/add_review_rating/",
                method:"POST",
                data:{"rating":rating,"productid":productid,"review":review,csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(data){
                    alert("Review/Rating is saved!");
                },
                error: function(errorData){
                    console.log(errorData);
                }
            })
    }
}
</script>

{% endblock %}
