<div class="collapse navbar-collapse" id="main-nav">
	<ul class="navbar-nav w-auto mx-auto">
		<li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				All Photos
			</a>
			<div class="dropdown-menu border-0" aria-labelledby="all-products-link">
				<a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
				<a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
				<a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
				<a href="{% url 'products' %}" class="dropdown-item">All Photos</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="japan-link"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Japan
			</a>
			<div class="dropdown-menu border-0" aria-labelledby="japan-link">
				<a href="{% url 'products' %}?category=tokyo" class="dropdown-item">Tokyo</a>
				<a href="{% url 'products' %}?category=nara" class="dropdown-item">Nara</a>
				<a href="{% url 'products' %}?category=osaka" class="dropdown-item">Osaka</a>
				<a href="{% url 'products' %}?category=volcano" class="dropdown-item">Mt.Fuji</a>
				<a href="{% url 'products' %}?category=tokyo,nara,osaka,volcano" class="dropdown-item">All Japan</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="philippines-link"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Philippines
			</a>
			<div class="dropdown-menu border-0" aria-labelledby="philippines-link">
				<a href="{% url 'products' %}?category=palawan" class="dropdown-item">Palawan</a>
				<a href="{% url 'products' %}?category=boracay" class="dropdown-item">Boracay</a>
				<a href="{% url 'products' %}?category=manila" class="dropdown-item">Manila</a>
				<a href="{% url 'products' %}?category=palawan,boracay,manila" class="dropdown-item">All Philippines</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="logo-font font-weight-bold nav-link text-black" href="#" id="portugal-link" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				Portugal
			</a>
			<div class="dropdown-menu border-0" aria-labelledby="portugal-link">
				<a href="{% url 'products' %}?category=lisbon" class="dropdown-item">Lisbon</a>
				<a href="{% url 'products' %}?category=porto" class="dropdown-item">Porto</a>
				<a href="{% url 'products' %}?category=sailing" class="dropdown-item">Sailing</a>
				<a href="{% url 'products' %}?category=lisbon,porto,sailing" class="dropdown-item">All Portugal</a>
			</div>
		</li>

	</ul>
</div>